{{define "admin.user.list"}}
    {{template "admin.app" .}}
    {{template "admin.user.content" .}}
    {{template "admin.footer"}}
{{end}}

{{define "admin.user.content"}}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                用户管理
                <small>用户列表</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/admin"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li><a href="/admin/user/list">用户管理</a></li>
                <li class="active">用户列表</li>
            </ol>
        </section>
        {{$userId:=.userId}}
        {{$groupId:=.groupId}}
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <a class="btn btn-primary" href="#user-add-modal" data-toggle="modal" id="user-add">添加用户</a>

                    {{/*                        <a class="btn btn-primary" href="#group-add-modal" data-toggle="modal" id="group-add">添加分组</a>*/}}
                    {{/*                    {{else}}*/}}
                    {{/*                        <a class="btn btn-primary" href="#group-add-modal" data-toggle="modal" id="group-add">添加分组</a>*/}}
                    {{/*                    {{end}}*/}}
                </div>

            </div>
            {{if  .users }}
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-body">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>id</th>
                                        <th>姓名</th>
                                        <th class="col-md-1 col-sm-1">密码</th>
                                        <th>状态</th>
                                        <th class="col-md-2">管理</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{range $k,$user:=.users}}
                                        <tr>
                                            <td>{{$user.ID}}</td>
                                            <td>

                                                    {{if $groupId}}
                                                        <a href="/admin/group/staff/manage/{{$groupId}}?userId={{$user.ID}}">{{$user.UserName}}</a>
                                                        {{else}}
                                                        <a href="/admin/group/list?userId={{$user.ID}}">{{$user.UserName}}</a>
                                                    {{end}}
                                            </td>
                                            <td>{{$user.Password}}</td>
                                            <td>
                                                {{if eq $user.Status 0}}
                                                    正常
                                                {{end}}
                                                {{if eq $user.Status 1}}
                                                    请假
                                                {{end}}
                                                {{if eq $user.Status 2}}
                                                    离职
                                                {{end}}
                                            </td>
                                            <td>

                                                正常 请假 调休 年假 病假 离职

                                            </td>

                                        </tr>

                                    {{else}}
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <button class="btn btn-pinterest">添加</button>
                                            </td>
                                        </tr>
                                    {{end}}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
                <div class="row text-center">
                    {{.paginate}}
                </div>
            {{else}}
                还没用户
            {{end}}

        </section>
        <!-- /.content -->
    </div>



    <div class="modal fade" id="group-add-modal" tabindex="-1"
         role="dialog" aria-labelledby="group-add">
        <form action="/admin/group/add" method="POST">
            <div class="modal-dialog modal-dialog-centered " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <span>添加分组</span>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="col-md-5">
                                    <label for="validationDefault01">分组名称</label>
                                    <input type="text" class="form-control" name="title" id="validationDefault01"
                                           placeholder="输入分组"
                                           required>
                                </div>

                            </div>
                        </div>
                        <div class="row">

                            <div class="form-check form-check-inline col-md-5 ">
                                <input class="form-check-input" type="checkbox" name="role"
                                       id="inlineRadio-group" value="是否立即使用分组">
                                <label class="form-check-label"
                                       for="inlineRadio-group">是否立即使用分组</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary">创建用户</button>
                    </div>
                </div>
            </div>
        </form>
    </div>



    <div class="modal fade" id="user-add-modal" tabindex="-1"
         role="dialog" aria-labelledby="user-add-modal">
        <form action="/admin/user/add" method="POST">
            <div class="modal-dialog modal-dialog-centered " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <span>添加用户</span>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="col-md-4 mb-3">
                                    <label for="validationDefault01">用户名</label>
                                    <input type="text" class="form-control" name="name" id="validationDefault01"
                                           placeholder="用户名"
                                           required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationDefault02">默认密码</label>
                                    <input type="text" class="form-control" name="password" id="validationDefault02"
                                           placeholder="密码"
                                           value="123456" required>
                                </div>
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-sm-10">
                                <h3>添加个人信息</h3>
                            </div>
                        </div>
                        <div class="row">

                            <div class="form-check form-check-inline col-md-4 col-md-offset-1">

                                。。。。。。。。

                                {{/*                                        <input class="form-check-input" type="radio" name="group"*/}}
                                {{/*                                               id="inlineRadio-{{$group.ID}}" value="{{$group.ID}}" required>*/}}
                                {{/*                                        <label class="form-check-label"*/}}
                                {{/*                                               for="inlineRadio-{{$group.ID}}">{{$group.Title}}</label>*/}}
                            </div>

                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary">创建用户</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script>
        console.debug({{.productList}});

        function ProductEditCheckNum(e) {
            var inputValue = e.value;
            var placeHolder = e.placeholder;
            console.log(inputValue);
            var regular = /^[0-9]+(.[0-9]{0,2})?$/;
            if (regular.test(inputValue.toString())) {
                console.log("输入合法");

            } else {
                console.log("输入格式不正确");
                e.value = "输入数据格式不正确";
                setTimeout(function () {
                    e.value = placeHolder;
                }, 1000);
            }

        }

    </script>
{{end}}
