{{define "admin.product.add"}}
    {{template "admin.app" .}}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                商品管理
                <small>添加商品</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/admin"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li><a href="/admin/product/add">添加商品</a></li>
                <li class="active">商品列表</li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-body">
                            <div class="col-md-12">
                                <!-- Custom Tabs -->
                                <div>
                                    <div class="box-header with-border">
                                        <h3 class="box-title">商品基本信息</h3>
                                    </div>
                                    <!-- form start -->
                                    {{if .errors}}
                                        <form class="form-horizontal" method="post" action="/admin/product/add">
                                            <div class="box-body">
                                                <div class="nav-tabs-custom">
                                                    <ul class="nav nav-tabs">
                                                        <li class="active">
                                                            <a href="#tab_1" data-toggle="tab">
                                                                基本信息
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#tab_2" data-toggle="tab">
                                                                基本信息
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#tab_3" data-toggle="tab">
                                                                基本信息
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <div class="tab-content">
                                                        <div class="tab-pane active" id="tab_1">
                                                            <div class="form-group {{if .errors.ProductName}}has-error{{end}}">
                                                                <label for="productName"
                                                                       class="col-sm-2 control-label">商品名称</label>

                                                                <div class="col-sm-10">
                                                                    <input type="text" name="productName"
                                                                           class="form-control"
                                                                           value="{{.product.ProductName}}"
                                                                           id="productName" placeholder="商品名称">
                                                                    <span class="help-block">{{.errors.ProductName}}</span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group {{if .errors.Description}}has-error{{end}}">
                                                                <label for="description"
                                                                       class="col-sm-2 control-label">描述</label>

                                                                <div class="col-sm-10">
                                                                <textarea type="text" class="form-control"
                                                                          name="description"
                                                                          id="description"
                                                                          placeholder="商品描述">{{.product.Description}}</textarea>
                                                                    <span class="help-block">{{.errors.Description}}</span>

                                                                </div>
                                                            </div>
                                                            <div class="form-group {{if .errors.Keyword}}has-error{{end}}">
                                                                <label for="keyword"
                                                                       class="col-sm-2 control-label">关键字</label>

                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control"
                                                                           name="keyword"
                                                                           value="{{.product.Keyword}}"
                                                                           id="keyword" placeholder="商品关键字">
                                                                    <span class="help-block">{{.errors.Keyword}}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- /.tab-pane -->
                                                        <div class="tab-pane" id="tab_2">


                                                            <div class="form-group {{if .errors.Type}}has-error{{end}}">
                                                                <label for="type"
                                                                       class="col-sm-2 control-label">型号</label>

                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control"
                                                                           value="{{.product.Type}}"
                                                                           required
                                                                           name="type"
                                                                           id="type" placeholder="商品型号">
                                                                    <span class="help-block">{{.errors.Type}}</span>
                                                                </div>
                                                            </div>

                                                            <div class="form-group {{if .errors.Sku}}has-error{{end}}">
                                                                <label for="sku"
                                                                       class="col-sm-2 control-label">sku</label>

                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control"
                                                                           value="{{.product.Sku}}"
                                                                           required
                                                                           name="sku"
                                                                           id="sku" placeholder="sku">
                                                                    <span class="help-block">{{.errors.Sku}}</span>
                                                                </div>
                                                            </div>

                                                            <div class="form-group {{if .errors.Price}}has-error{{end}}">
                                                                <label for="price"
                                                                       class="col-sm-2 control-label">价格</label>

                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control"
                                                                           value="{{.product.Price}}"
                                                                           required
                                                                           name="price"
                                                                           id="price" placeholder="价格">
                                                                    <span class="help-block">{{.errors.Price}}</span>
                                                                </div>
                                                            </div>

                                                            <div class="form-group {{if .errors.Width}}has-error{{end}}">
                                                                <label for="width"
                                                                       class="col-sm-2 control-label">宽度</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control"
                                                                           value="{{.product.Width}}"
                                                                           required
                                                                           name="width"
                                                                           id="width" placeholder="宽度">
                                                                    <span class="help-block">{{.errors.Width}}</span>
                                                                </div>
                                                            </div>

                                                            <div class="form-group {{if .errors.Height}}has-error{{end}}">
                                                                <label for="height"
                                                                       class="col-sm-2 control-label">高度</label>

                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control"
                                                                           value="{{.product.Height}}"
                                                                           required
                                                                           name="height"
                                                                           id="height" placeholder="高度">
                                                                    <span class="help-block">{{.errors.Height}}</span>
                                                                </div>
                                                            </div>

                                                            <div class="form-group {{if .errors.Weight}}has-error{{end}}">
                                                                <label for="weight"
                                                                       class="col-sm-2 control-label">重量</label>

                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control"
                                                                           value="{{.product.Weight}}"
                                                                           required
                                                                           name="weight"
                                                                           id="weight" placeholder="重量">
                                                                    <span class="help-block">{{.errors.Weight}}</span>
                                                                </div>
                                                            </div>


                                                        </div>
                                                        <!-- /.tab-pane -->
                                                        <div class="tab-pane" id="tab_3">
                                                            Lorem Ipsum is simply dummy text of the printing and
                                                            typesetting
                                                            industry.
                                                            Lorem Ipsum has been the industry's standard dummy text ever
                                                            since the 1500s,
                                                            when an unknown printer took a galley of type and scrambled
                                                            it
                                                            to make a type specimen book.
                                                            It has survived not only five centuries, but also the leap
                                                            into
                                                            electronic typesetting,
                                                            remaining essentially unchanged. It was popularised in the
                                                            1960s
                                                            with the release of
                                                            Letraset
                                                            sheets containing Lorem Ipsum passages, and more recently
                                                            with
                                                            desktop publishing software
                                                            like Aldus PageMaker including versions of Lorem Ipsum.
                                                        </div>
                                                        <!-- /.tab-pane -->
                                                    </div>
                                                    <!-- /.tab-content -->
                                                </div>
                                            </div>
                                            <!-- /.box-body -->
                                            <div class="box-footer text-center">
                                                <button type="submit" class="btn btn-default">取消</button>
                                                <button type="submit" class="btn btn-primary">新增</button>
                                            </div>
                                            <!-- /.box-footer -->
                                        </form>
                                    {{else}}
                                        <form class="form-horizontal" method="post" action="/admin/product/add">
                                            <div class="box-body">
                                                <div class="nav-tabs-custom">
                                                    <ul class="nav nav-tabs">
                                                        <li class="active">
                                                            <a href="#tab_1" data-toggle="tab">
                                                                基本信息
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#tab_2" data-toggle="tab">
                                                                参数
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#tab_3" data-toggle="tab">
                                                                基本信息
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <div class="tab-content">
                                                        <div class="tab-pane active" id="tab_1">
                                                            <div class="form-group">
                                                                <label for="productName"
                                                                       class="col-sm-2 control-label">商品名称</label>

                                                                <div class="col-sm-10">
                                                                    <input type="text" name="productName"
                                                                           required
                                                                           class="form-control"
                                                                           id="productName" placeholder="商品名称">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="description"
                                                                       class="col-sm-2 control-label">描述</label>

                                                                <div class="col-sm-10">
                                                                <textarea type="text" class="form-control"
                                                                          required
                                                                          name="description"
                                                                          id="description"
                                                                          placeholder="商品描述"></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="keyword"
                                                                       class="col-sm-2 control-label">关键字</label>

                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control"
                                                                           required
                                                                           name="keyword"
                                                                           id="keyword" placeholder="商品关键字">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- /.tab-pane -->
                                                        <div class="tab-pane" id="tab_2">


                                                            <div class="form-group">
                                                                <label for="type"
                                                                       class="col-sm-2 control-label">型号</label>

                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control"
                                                                           required
                                                                           name="type"
                                                                           id="type" placeholder="商品型号">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="sku"
                                                                       class="col-sm-2 control-label">sku</label>

                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control"
                                                                           required
                                                                           name="sku"
                                                                           id="sku" placeholder="sku">
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="price"
                                                                       class="col-sm-2 control-label">价格</label>

                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control"
                                                                           required
                                                                           name="price"
                                                                           id="price" placeholder="价格">
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="width"
                                                                       class="col-sm-2 control-label">宽度</label>

                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control"
                                                                           required
                                                                           name="width"
                                                                           id="width" placeholder="宽度">
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="height"
                                                                       class="col-sm-2 control-label">高度</label>

                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control"
                                                                           required
                                                                           name="height"
                                                                           id="height" placeholder="高度">
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="weight"
                                                                       class="col-sm-2 control-label">重量</label>

                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control"
                                                                           required
                                                                           name="weight"
                                                                           id="weight" placeholder="重量">
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <!-- /.tab-pane -->
                                                        <div class="tab-pane" id="tab_3">
                                                            Lorem Ipsum is simply dummy text of the printing and
                                                            typesetting
                                                            industry.
                                                            Lorem Ipsum has been the industry's standard dummy text ever
                                                            since the 1500s,
                                                            when an unknown printer took a galley of type and scrambled
                                                            it
                                                            to make a type specimen book.
                                                            It has survived not only five centuries, but also the leap
                                                            into
                                                            electronic typesetting,
                                                            remaining essentially unchanged. It was popularised in the
                                                            1960s
                                                            with the release of
                                                            Letraset
                                                            sheets containing Lorem Ipsum passages, and more recently
                                                            with
                                                            desktop publishing software
                                                            like Aldus PageMaker including versions of Lorem Ipsum.
                                                        </div>
                                                        <!-- /.tab-pane -->
                                                    </div>
                                                    <!-- /.tab-content -->
                                                </div>
                                            </div>
                                            <!-- /.box-body -->
                                            <div class="box-footer text-center">
                                                <button type="submit" class="btn btn-default">取消</button>
                                                <button type="submit" class="btn btn-primary">新增</button>
                                            </div>
                                            <!-- /.box-footer -->
                                        </form>
                                    {{end}}
                                </div>


                                <!-- nav-tabs-custom -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </section>
        <!-- /.content -->
    </div>
    <script>
    </script>
    {{template "admin.footer"}}
{{end}}
