{{define "admin.product.list"}}
    {{template "admin.app" .}}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                商品管理
                <small>商品列表</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/admin"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li><a href="/admin/product/list">商品管理</a></li>
                <li class="active">商品列表</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            {{if  .productList }}
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-body">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>id</th>
                                        <th>名称</th>
                                        <th class="col-md-1 col-sm-1">价格（￥）</th>
                                        <th>Sku</th>
                                        <th>库存(个)</th>
                                        <th>状态</th>
                                        <th class="col-md-2">管理</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{range $k,$product:=.productList}}
                                        <tr>
                                            <td>{{$product.ID}}</td>
                                            <td>
                                                {{$product.ProductName}}
                                            </td>
                                            <td>{{$product.Price}}</td>
                                            <td>{{$product.Sku}}</td>
                                            <td>{{$product.Stock}}</td>
                                            {{if eq $product.Status 1}}
                                                <td>已下架</td>
                                            {{else}}
                                                <td>已上架</td>
                                            {{end}}

                                            <td>
                                                {{if eq $product.Status 0}}
                                                    <button class="btn btn-danger"
                                                            data-toggle="modal"
                                                            data-target="#product-off-on-{{$product.ID}}">
                                                        下架
                                                    </button>
                                                    <button class="btn btn-info" data-toggle="modal"
                                                            data-target="#product-edit-{{$product.ID}}">编辑
                                                    </button>
                                                    <button class="btn btn-primary">查看</button>
                                                {{else}}
                                                    <button class="btn btn-danger"
                                                            data-toggle="modal"
                                                            data-target="#product-off-on-{{$product.ID}}">
                                                        上架
                                                    </button>
                                                {{end}}

                                            </td>
                                        </tr>
                                        <div class="modal fade" id="product-off-on-{{$product.ID}}" tabindex="-1"
                                             role="dialog"
                                             aria-label="product-off">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close"><span
                                                                    aria-hidden="true">&times;</span>
                                                        </button>
                                                        {{if eq $product.Status 0}}
                                                            <h4 class="modal-title" id="product-title">
                                                                您确定要下架
                                                                <small>{{$product.ProductName}}</small>
                                                            </h4>
                                                        {{else}}
                                                            <h4 class="modal-title" id="product-title">
                                                                您确定要上架
                                                                <small>{{$product.ProductName}}</small>
                                                            </h4>
                                                        {{end}}
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default"
                                                                data-dismiss="modal">
                                                            关闭
                                                        </button>
                                                        <button type="submit" class="btn btn-primary"
                                                                {{if eq $product.Status 0}}

                                                                onclick="offFromShelve({{$product.ID}},{{$product.CategoryId}},1)">
                                                            {{else}}
                                                                onclick="offFromShelve({{$product.ID}},{{$product.CategoryId}},0)">

                                                            {{end}}
                                                            确定
                                                        </button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- 商品编辑 -->
                                        <div class="modal fade" id="product-edit-{{$product.ID}}" tabindex="-1"
                                             role="dialog" aria-labelledby="product-title">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close"><span
                                                                    aria-hidden="true">&times;</span>
                                                        </button>
                                                        <h4 class="modal-title" id="product-title">
                                                            修改<span>{{$product.ProductName}}</span></h4>
                                                    </div>
                                                    <form action="/admin/product/edit" method="post">
                                                        <div class="modal-body">
                                                            <div class="input-group">
                                                                <input id="{{$product.ID}}-id" type="text"
                                                                       class="form-control"
                                                                       name="ID"
                                                                       value="{{$product.ID}}"
                                                                       placeholder="{{$product.ID}}"
                                                                       style="display: none"
                                                                       aria-describedby="basic-aldon1">
                                                                <span class="input-group-addon"
                                                                      id="basic-addon1">编号</span>
                                                                <input id="{{$product.ID}}-id" type="text"
                                                                       class="form-control"
                                                                       value="{{$product.ID}}"
                                                                       placeholder="{{$product.ID}}" disabled
                                                                       aria-describedby="basic-aldon1">
                                                            </div>

                                                            <div class="input-group">
                                                                <span class="input-group-addon"
                                                                      id="basic-addon2">名称</span>
                                                                <input id="{{$product.ID}}-name" type="text"
                                                                       class="form-control"
                                                                       name="name"
                                                                       value="{{$product.ProductName}}"
                                                                       placeholder="{{$product.ProductName}}"
                                                                       aria-describedby="basic-addon2">
                                                            </div>
                                                            <div class="input-group">
                                                            <span class="input-group-addon"
                                                                  id="basic-addon3">价格（￥）</span>
                                                                <input id="{{$product.ID}}-price"
                                                                       value="{{$product.Price}}"
                                                                       name="price"
                                                                       oninput="ProductEditCheckNum(this)" type="text"
                                                                       class="form-control"
                                                                       placeholder="{{$product.Price}}"
                                                                       aria-describedby="basic=addon3">
                                                            </div>
                                                            <div class="input-group">
                                                                <span class="input-group-addon"
                                                                      id="basic-addon3">Sku</span>
                                                                <input id="{{$product.ID}}-sku" type="text"
                                                                       class="form-control"
                                                                       value="{{$product.Sku}}"
                                                                       name="sku"
                                                                       placeholder="{{$product.Sku}}"
                                                                       aria-describedby="basic=addon3">
                                                            </div>
                                                            <div class="input-group">
                                                        <span id="{{$product.ID}}-stock" class="input-group-addon"
                                                              id="basic-addon3">库存(个)</span>
                                                                <input type="text" class="form-control"
                                                                       placeholder="{{$product.Stock}}"
                                                                       value="{{$product.Stock}}"
                                                                       name="stock"
                                                                       oninput="ProductEditCheckNum(this)"
                                                                       aria-describedby="basic=addon3">
                                                            </div>

                                                        </div>

                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default"
                                                                    data-dismiss="modal">
                                                                关闭
                                                            </button>
                                                            <button type="submit" class="btn btn-primary"
                                                                    onclick="ProductEditSave(this,{{$product.ID}})">保存
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>

                                            </div>
                                        </div>

                                    {{else}}
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <button class="btn btn-pinterest">添加</button>
                                            </td>
                                        </tr>
                                    {{end}}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
                <div class="row text-center">
                    {{.paginate}}
                </div>
            {{else}}
                还没有商品
            {{end}}

        </section>
        <!-- /.content -->
    </div>
    <script>
        console.log({{.productList}});

        function offFromShelve(pid, categoryId, status) {
            var xmlhttp;

            if (window.XMLHttpRequest) {
                // IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
                xmlhttp = new XMLHttpRequest();
            } else {
                // IE6, IE5 浏览器执行代码
                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    console.log("发送成功");
                    location.reload();
                }
            };
            xmlhttp.open("POST", "/admin/product/off", true);
            xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            var query = "category_id=" + categoryId + "&pid=" + pid + "&status=" + status;
            console.log(query);
            xmlhttp.send(query);
        }

        function ProductEditSave(e, pid) {
            var proName = document.getElementById(pid + "-name").value;
            var proPrice = document.getElementById(pid + "-price").value;
            var proSku = document.getElementById(pid + "-sku").value;
            var proStock = document.getElementById(pid + "-stock").value;
            console.log(proName);
            console.log(proPrice);
        }

        function ProductEditCheckNum(e) {
            var inputValue = e.value;
            var placeHolder = e.placeholder;
            console.log(inputValue);
            var regular = /^[0-9]+(.[0-9]{0,2})?$/;
            if (regular.test(inputValue.toString())) {
                console.log("输入合法");

            } else {
                console.log("输入格式不正确");
                e.value = "输入数据格式不正确";
                setTimeout(function () {
                    e.value = placeHolder;
                }, 1000);
            }

        }

    </script>
    {{template "admin.footer"}}
{{end}}
